# Environment
NODE_ENV=development

# Server
PORT=3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/tutor_support_db?schema=public"

# JWT Secret (Thay bằng key mạnh hơn trong production)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# External API URLs (Mô phỏng)
HCMUT_SSO_URL=https://sso.hcmut.edu.vn
HCMUT_DATACORE_URL=https://datacore.hcmut.edu.vn
HCMUT_LIBRARY_URL=https://library.hcmut.edu.vn
